Body {
    Font-family: arial; 
    background-color:rgb(50, 168, 150);}
    
h1 {background: red;
    padding: 10px;
    color: #fff;
    text-align: center;
    }
h2 {background: red;
    padding: 10px;
    color: #fff;
    text-align: center;
}